@page "/"
@namespace AvaloniaBlazorBindingsDemo

@using BlazorBindingsAvalonia.Elements


<Window Title="Blazor Bindings for Avalonia" Topmost="true" Width="600" Height="500">
    <ScrollViewer>
        <Border Padding="@(new Thickness(10))">

            <StackPanel>
                <Button  OnClick="@OnButtonClick">新增</Button>
                @for(int i = 0; i < num; i++)
                {
                    <TextBlock Text="@("标签" + i)"></TextBlock>
                }
            </StackPanel>
        </Border>
    </ScrollViewer>
</Window>

@code {
    int num = 0;

    void OnButtonClick()
    {
        num++;
    }
}